# Personal Finance Analysis ðŸ“Š

## Introduction
- In this project we will be taking a look at my personal finances.
- These are directly taken from the Hawaii State federal Credit Union web portal 
- This is time series Data as they are taking every month from 2016-2023
- we will be doing some analysis on the data, both checking and savings.

## Call in the data sets and the libraries

In [1]:
# start with the generic 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## call in the data set

In [2]:
df_checking = pd.read_csv('../data/Checking_Transactions.csv')
df_checking

,Transaction ID,Date,Description,Check Number,Category,Amount,Balance
0,98347589|9178,08/24/23,Point Of Sale Withdrawal KRISPY KREME #1123 ...,NaN,Restaurants/Dining,-$23.39,$180.15
1,98347589|9177,08/22/23,Point Of Sale Withdrawal RODEO GENERAL STORE ...,NaN,Groceries,-$4.06,$203.54
2,98347589|9176,08/21/23,Point Of Sale Withdrawal RODEO GENERAL STORE ...,NaN,Groceries,-$2.66,$207.60
3,98347589|9175,08/21/23,Point Of Sale Withdrawal RODEO GENERAL STORE ...,NaN,Groceries,-$7.71,$210.26
4,98347589|9174,08/21/23,Point Of Sale Withdrawal COURSRA5PNTH7L5RV2EQN...,NaN,Clothing/Shoes,-$49.00,$217.97
...,...,...,...,...,...,...,...
1471,98347589|7706,06/01/21,External Withdrawal PAYPAL INSTANT TRANSFER - ...,NaN,BAT,-$14.99,$188.09
1472,98347589|7705,06/01/21,External Deposit DoorDash Inc. - DoorDash ST...,NaN,BAT,$53.62,$203.08
1473,98347589|7703,06/01/21,Deposit Internet Transfer from 98186530 CNS,NaN,WWW,$100.00,$149.46
1474,98347589|7702,06/01/21,Point Of Sale Withdrawal IZAKAYA GENBE ...,NaN,ATM,-$4.22,$49.46
1475,98347589|7700,06/01/21,Point Of Sale Withdrawal USA*SODEXO VENDING ...,NaN,ATM,-$4.10,$53.68

In [3]:
df_savings = pd.read_csv('../data/Savings_transactions.csv')
df_savings

,Transaction ID,Date,Description,Check Number,Category,Amount,Balance
0,98347570|2914,08/24/23,External Withdrawal PAYPAL 230823PPZ6KO - INST...,NaN,Transfers,-$9.99,"$1,958.17"
1,98347570|2913,08/21/23,External Deposit PAYPAL TRANSFER - TRANSFER,NaN,Transfers,$59.26,"$1,968.16"
2,98347570|2912,08/16/23,Withdrawal Transfer To *7589; REF:,NaN,Transfers,-$235.00,"$1,908.90"
3,98347570|2911,08/07/23,Withdrawal Transfer To *7589; REF:,NaN,Transfers,-$60.00,"$2,143.90"
4,98347570|2910,08/07/23,Deposit Transfer From *6495; REF:,NaN,Transfers,"$1,476.00","$2,203.90"
...,...,...,...,...,...,...,...
116,98347570|2798,06/14/21,Withdrawal Internet Transfer to 98347589 CK,NaN,WWW,-$26.93,"$2,600.00"
117,98347570|2797,06/10/21,ATM Deposit HAWAII STATE FC 140 HOOKELE ST 230...,NaN,ATM,$276.32,"$2,626.93"
118,98347570|2796,06/08/21,ATM Deposit HAWAII STATE FC 140 HOOKELE ST 230...,NaN,ATM,$250.00,"$2,350.61"
119,98347570|2793,05/29/21,Credit Dividend,NaN,BAT,$0.09,"$2,100.61"
120,98347570|2791,05/15/21,Withdrawal Internet Transfer to 98347589 CK,NaN,WWW,-$100.00,"$2,100.52"